<div class="flex flex-row justify-around bg-slate-700 ml-36 mr-36 mt-10 mb-10 rounded-md shadow-sm">
    <a href="/" class="w-full text-center p-2 rounded-l-md hover:bg-slate-600">
        <h2 class="text-white">Carpetas</h2>
    </a>
        
    <a href="/create" class="w-full text-center p-2 rounded-r-md hover:bg-slate-600">
        <h2 class="text-white">Crear Carpetas</h2>
    </a>
</div>